# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Ignore override files (used for local configuration)
*.tfvars
*.tfvars.json

# Ignore any .terraform.lock.hcl file (can be generated locally and vary between setups)
.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc

